@import '../var';
@import '../common/font.scss';
:scope {
    .box {
        > * {
            display: inline-block;
        }
        button {
            display: inline-block;
            width: 20px;
            height: 20px;
        }
    } 
    .progress {
        position: relative;
        width: calc(100% - 20px);
        height: 10px;
        display: block;
        background: gray;
        @apply rounded-md;
        > button {
            position: absolute;
            width: 20px;
            height: 20px;
            border: 0px;
            top: 0px;
            left: 0px;
            margin-top: -5px;
            margin-left: -5px;
            border-radius: 20px;
            @apply bg-indigo-500 hover:cursor-pointer;
        }
    }
}
